{% extends 'base.html' %}
 {% block title %}
   <title>Add</title>
   {% endblock %}
{% block content %}
<h2>Addbook(user defined)</h2>
<div class="container w-50  p-5 mt-4">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="t" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text"  name="a" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" name="n" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Language</label>
        <input type="text" name="l" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Pages</label>
        <input type="number" name="p" class="form-control">
    </div>
    <div class="mb-3">
         <label class="form-label">Images</label>
        <input type="file"  name="i" class="form-control">
    </div>
       <div class="mb-3">

        <input type="submit" class="btn btn-light">
    </div>
    </div>
</form>

{% endblock %}